@model SmartGrower.ViewModels.RelatorioVm


@{ ViewData["Title"] = "Home"; }
<script src="~/js/gauge.min.js"></script>




<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="bd-placeholder-img card-img-top text-center" width="100%" height="225"   >
                        <canvas data-type="radial-gauge"
                                data-major-ticks="0, 20, 40,  60, 80, 100, 120,130,140,150,160,170,180,190,200"
                                data-title="Humidade do Solo"
                                data-units="%"
                                data-width="300"
                                data-height="300"
                                data-value-int="0"
                                data-value-dec="0"
                                data-value="@Model.LastSet.HumidadeSolo"
                                data-min-value="0"
                                data-max-value="200"
                                data-highlights="true"
                                data-color-stroke-ticks="#008000"></canvas>
                    </div>

                    <div class="card-body">
                        <p class="card-text">
                           
                           </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                 @if (@Model.LastSet.HumidadeSolo > 200)
                                    {
                                         <button type="button" class="btn btn-sm btn-outline-success">
                                    <span clase="text-center fs-1 s-1"> <b>Humidade dentro do limite</b></span>
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-sm btn-outline-danger">

                                        <span clase="text-center fs-1 s-1"> <b>Humidade fora do limite</b></span>

                                    </button>
                                }
                               
                           
                            </div>
                            <small class="text-muted">@Model.LastSet.DateOnlyString @Model.LastSet.TimeOnlyString</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="bd-placeholder-img card-img-top text-center" width="100%" height="225">
                        <canvas data-type="radial-gauge"
                                data-major-ticks="-50, -40, -30, -20, -10, 0, 10,20,30,40,50"
                                data-title="Temperatura"
                                data-units="%"
                                data-width="300"
                                data-height="300"
                                data-value-int="0"
                                data-value-dec="0"
                                data-value="@Model.LastSet.TemperaturaString"
                                data-min-value="0"
                                data-max-value="200"
                                data-highlights="true"
                                data-color-stroke-ticks="#008000"></canvas>
                    </div>
                    <div class="card-body">
                        <p class="card-text"></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                @if (@Model.LastSet.Temperatura <= 25)
                                {
                                    <button type="button" class="btn btn-sm btn-outline-success">
                                        <span clase="text-center fs-1 s-1"> <b>Temperatura dentro do limite</b></span>
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-sm btn-outline-danger">

                                        <span clase="text-center fs-1 s-1"> <b>Temperatura fora do limite</b></span>

                                    </button>
                                }


                            </div>
                            <small class="text-muted">@Model.LastSet.DateOnlyString @Model.LastSet.TimeOnlyString</small>
                        </div>
                        </div>
                    </div>
               
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="bd-placeholder-img card-img-top text-center" width="100%" height="225">
                    <canvas data-type="radial-gauge"
                            data-major-ticks="0, 20, 40,  60, 80, 100, 120,130,140,150,160,170,180,190,200"
                            data-title="Humidade AR"
                            data-units="dB"
                            data-width="300"
                            data-height="300"
                            data-value-int="0"
                            data-value-dec="0"
                            data-value="@Model.LastSet.HumidadeArString"
                            data-min-value="0"
                            data-max-value="200"
                            data-highlights="true"
                            data-color-stroke-ticks="#0000FF"></canvas>
                            </div>
                    <div class="card-body">
                        <p class="card-text"></p>
                        <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            @if (@Model.LastSet.HumidadeAr > 60)
                            {
                                <button type="button" class="btn btn-sm btn-outline-success">
                                    <span clase="text-center fs-1 s-1"> <b>Humidade do Ar dentro do limite</b></span>
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-sm btn-outline-danger">

                                    <span clase="text-center fs-1 s-1"> <b>Humidade do Ar fora do limite</b></span>

                                </button>
                            }
                             </div>

                        </div>
                        <small class="text-muted">@Model.LastSet.DateOnlyString @Model.LastSet.TimeOnlyString</small>
                    </div>
                        </div>
                    </div>
                </div>


          


 
        </div>
    </div>


